#cell1, #cell2, #cell3, #cell4, #cell5, #cell6, #cell7, #cell8, #cell9 {
    text-align: center;
    border-radius: 10px;
    border: 2px solid #7352eb;
    width: 200px;
    height: 200px;
    font-size:25px;

    margin:auto;   

}

#board{
    text-align: center;
}

body{
    background-color: wheat;
}

.exit:hover {
    background-color: rgb(241, 30, 40);
    color: black;
  }
  
  .block:hover {
    background-color: rgb(188, 163, 211);
    color: black;
  }

  
  h1{
    color: #7352eb;
  }

